.container{
   margin-top: 30px;
    background-color:#1B4F72;
    padding-bottom: 70px;
}
input{
    width: 40%;
}
form{
    color: linen;
    padding-top: 150px;
    padding-left: 400px;
}
button{
    margin-left: 35px;
}
h2{
    margin-left: 90px;
    font-weight: bold;
}
